<!DOCTYPE html>
<html>
<meta charset="utf-8" />
<title>依托谢特-我的购物车</title>

<!-- Bootstrap -->
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">

<link type="text/css" rel="stylesheet" href="../css/all.css" />
<link rel="stylesheet" href="../css/index.css">

<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- 导航栏 -->
    <div id="nav_part"></div>

    <!-- 主体部分 -->
    <main>
        <div class="container">
            <div class="row" style="margin-top: 20px">
                <div class="row row-goods">
                    <div class="col-md-12 title">
                        <div class="col-md-5 ">
                            <div class="k-border">
                                <div class="border bor-l">
                                    <div class="border bor-r">
                                        <div class="bor-m"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 ">我的足迹</div>
                        <div class="col-md-5 ">
                            <div class="k-border">
                                <div class="border bor-l">
                                    <div class="border bor-r">
                                        <div class="bor-m"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" style="margin-top: 30px;">
                        <a href="goodsinfo.html"><img src="../images/index/4.jpg" alt=""></a>
                        <div class="col-md-1">&yen; </div>25
                    </div>
                    <div class="col-md-2" style="margin-top: 30px;">
                        <img src="../images/index/5.jpg" alt="">
                        <div class="col-md-1">&yen; </div>25
                    </div>
                    <div class="col-md-2" style="margin-top: 30px;">
                        <img src="../images/index/5.jpg" alt="">
                        <div class="col-md-1">&yen; </div>25
                    </div>
                    <div class="col-md-2" style="margin-top: 30px;">
                        <img src="../images/index/6.jpg" alt="">
                        <div class="col-md-1">&yen; </div>25
                    </div>
                    <div class="col-md-2" style="margin-top: 30px;">
                        <img src="../images/index/6.jpg" alt="">
                        <div class="col-md-1">&yen; </div>25
                    </div>
                    <div class="col-md-2" style="margin-top: 30px;">
                        <img src="../images/index/6.jpg" alt="">
                        <div class="col-md-1">&yen; </div>25
                    </div>
                    <div class="col-md-2" style="margin-top: 30px;">
                        <img src="../images/index/6.jpg" alt="">
                        <div class="col-md-1">&yen; </div>25
                    </div>
                    <div class="col-md-2" style="margin-top: 30px;">
                        <img src="../images/index/6.jpg" alt="">
                        <div class="col-md-1">&yen; </div>25
                    </div>
                </div>
            </div>
        </div>
    </main>



    <!-- 页脚 -->
    <div id="footer_part"></div>

</body>
<script type="text/javascript">
    $("#nav_part").load("nav_part.html");
    $("#footer_part").load("footer_part.html");
</script>

</html>