<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <title>Dickies迪凯斯手表男女气质情侣表女</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <link type="text/css" rel="stylesheet" href="../css/all.css" />

    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <style>
        .good-img {
            width: 100%;
            height: 100%;
            border: 1px wheat solid;
        }

        .avatar {
            width: 100%;

            border-radius: 50%;
        }
    </style>

</head>

<body>
    <!-- 导航栏 -->
    <div id="nav_part"></div>



    <main style="margin-top: 60px;">
        <div class="container-fluid">
            <div id="prompt">

            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="../images/index/6.jpg" alt="" class="good-img">
                        </div>

                        <div class="col-md-5 col-md-offset-1">
                            <h3 class="">衣服</h3>
                            <hr>
                            ￥ <span>59.99</span>
                            <hr>
                            <div>商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述</div>
                            <hr>
                            库存<span>199</span>件
                            <hr>
                            <button type="button" class="btn btn-sm add-btn" data-operator='increase'>+</button>
                            <button type="button" class="btn btn-sm  disabled count" data-name='qty'>1</button>
                            <button type="button" class="btn btn-sm sub-btn" data-operator='decrease'>-</button>
                            <hr>
                            <button class="btn btn-primary col-md-5" id="add-favo">收藏</button>
                            <button class="btn btn-success col-md-5 col-md-offset-1" id="add-cart">加入购物车</button>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 300px;">
                        <table class="table" style="table-layout:fixed ;border-bottom: 1px solid #ddd;">
                            <thead>
                                <tr>
                                    <th width="10%"></th>
                                    <th width="70%"></th>
                                    <th width="10%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align: center;">
                                        <div>
                                            <img src="../images/空白头像.png" alt="" class="avatar">
                                        </div>
                                        <div>张***斌</div>
                                    </td>
                                    <td>
                                        <div style="padding-top: 1em; padding-left: 1em;">
                                            商品评价商品评价商品评价商品评价商品评价商品评价商品评价商品评价商品评价商品评价商品评价商品评价商品评价商品评价商品评价商品评价商品评价商品评价商品评价商品评价商品评价商品评
                                        </div>
                                    </td>

                                    <td style="vertical-align: bottom; color: grey; font-size: large;">
                                        <span>2020.12.06</span>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="text-align: center;">
                                        <div>
                                            <img src="../images/空白头像.png" alt="" class="avatar">
                                        </div>
                                        <div>张***斌</div>
                                    </td>
                                    <td>
                                        <div style="padding-top: 1em; padding-left: 1em;">
                                            商品评价商品评价商品评价商品评价商品评价商品评价商品评价商品评价商品评价商品评价商品评价商品评价商品评价商品评价商品评价商品评价商品评价商品评价商品评价商品评价商品评价商品评
                                        </div>
                                    </td>

                                    <td style="vertical-align: bottom; color: grey; font-size: large;">
                                        <span>2020.12.06</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- 页脚 -->
    <div id="footer_part"></div>
</body>

<script type="text/javascript">
    $("#nav_part").load("nav_part.html");
    $("#footer_part").load("footer_part.html");


    let prompt = document.getElementById("prompt");

    let closePromptBtn = document.createElement("button");
    closePromptBtn.setAttribute("type", "button");
    closePromptBtn.setAttribute("class", "close");
    closePromptBtn.setAttribute("data-dismiss", "alert");
    closePromptBtn.innerHTML = "&times;"


/*     $("#add-favo").click(function () {
        prompt.setAttribute("class", "alert alert-info alert-dismissible");
        prompt.innerHTML = ("收藏成功!");
        prompt.prepend(closePromptBtn);
    }); */

    $("#add-favo").click(function () {
        prompt.setAttribute("class", "alert alert-warning alert-dismissible");
        prompt.innerHTML = ("已经收藏过了!");
        //prompt.prepend(closePromptBtn);
    });

    $("#add-cart").click(function () {
        prompt.setAttribute("class", "alert alert-success alert-dismissible");
        prompt.innerHTML = ("已成功加入购物车!");
        //prompt.prepend(closePromptBtn);
    });

    //+或-按钮的效果
    $(".add-btn,.sub-btn").click(function () {
        //变化数量
        var countStr = $(this).siblings(".count").text();
        var count = parseInt(countStr);
        if ($(this).hasClass("add-btn")) {
            count++;
        } else {
            if (count > 0) {
                count--;
                $(this).siblings(".count").text(count);
            }
        }

        $(this).siblings(".count").text(count);
    });

</script>

</html>