body {
    font-family: "microsoft yahei";
    font-size: 16px;
    width: 100%;
    margin: 0;
}

footer {
    clear: both;
    color: #666666;
    text-align: center;
    padding: 15px;
    margin: 100px 10px 10px 10px;
}


.img-frame {
        position: relative;
        width: 100%;
        padding-top: 100%;
        /* 宽高比例为1：1 */
    }
    .img-frame img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }