.container {
}

.carousel {
    position: relative;
    width: auto;
    display: inline-block;
}
.carousel-inner>.item>img{
    width: 100%;
}
.row.row-goods{
    margin: 30px 0;
}
.row.row-goods img {
    width: 100%;
}
.col-md-12.title{
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 28px;
    font-family:"微软雅黑" ;
}
.border{
    background: url("../images/index/border.png") no-repeat;
    height: 12px;
}

.bor-l{
    padding: 0 0 0 12px;
    background-position: 0 0;
}
.bor-r{
    padding: 0 12px 0 0;
    background-position:right -24px;
}
.bor-m {
    background: url("../images/index/border.png") ;
    height: 12px;
    background-position: -12px -12px;
}
.k-border{
    padding-top: 24px;
}
ul.list-group.list-group-2 {
    width: 83%;
    text-align: right;
}
ul.list-group.list-group-2 li {
   background: none;
}
ul.list-group.list-group-2 li img{
    width: 100%;
}