input {
    color: black;
    font-size: 15px;
    padding-left: 12px;
    margin: 8px 0;
    outline: 0;
    border: 1px solid rgb(164, 183, 194);
    box-sizing: border-box;

    border-radius: 4px;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: rgb(244, 246, 246);
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 15px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

input[type=submit] {

    color: white;
    font-size: 0.8em;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.inputTips {
    margin-bottom: 5px;
    font-size: 80%;
}

.inputText {
    width: 100%;
    height: 40px;

    margin-bottom: 20px;
}


.submitButton {

    width: 100%;
    height: 40px;
    margin: 40px 0px 0px 0px;
    background-color: #2ebc4f;
    text-align: center;

}

button:hover {
    background-color: #45a049;
}