{% load static %}
{% load user_extras %}

<!DOCTYPE html>
<html>
<meta charset="utf-8" />
<title>商店后台登录</title>

<!-- Bootstrap -->
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">

<link rel="stylesheet" href="{% static 'user/css/all.css' %}" />

<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<style>
    body {

        background-image: url("{% static 'user/images/background/bg1_yellow.jpg' %}");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 0 -280px;

    }
</style>

<body>

    <!-- 主体部分 -->
    <main style="margin-top: 150px;">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-md-offset-4"
                    style="border: 1px solid #ddd; border-radius: 2%; background-color: rgb(253, 252, 252);">
                    <h3 style="text-align: center; margin-bottom: 20px;">商家登录</h3>

                    <div id="prompt">

                    </div>
                    <div class="form">
                        <div class="form-group">
                            <label for="input6" class="control-label">用户名</label>
                            <input type="text" class="form-control" id="username" placeholder="username">
                        </div>
                        <div class="form-group">
                            <label for="input6" class="control-label">密码</label>
                            <input type="password" class="form-control" id="password" placeholder="password">
                        </div>

                        <div style="margin-top:30px;"></div>
                        <button type="submit" class="btn btn-success" id="login" style="width: 100%;">登录</button>
                        <div style="margin-top:10px;"></div>

                        <p>未拥有后台账户？ 去<a href="{% url 'shop:sign_up' %}">注册</a></p>
                    </div>

                </div>
            </div>
        </div>
    </main>

    <!-- 页脚 -->
    {% show_footer %}

</body>
<script type="text/javascript">
    //加载导航栏和页脚




    $("#login").click(function () {

        let prompt = document.getElementById("prompt");
        $.ajax({
            type: "POST",
            url: "/shop/login/",
            data: {
                username: $("#username").val(),
                password: $("#password").val(),
            },
            dataType: "json",
            success: function (result) {
                console.log(result);
                if (result.data.status == "success") {
                    window.open("/shop/index/", "_self");
                } else if (result.data.status == "no_shop") {
                    window.open("/shop/shop_register/", "_self");
                } else {
                    prompt.setAttribute("class", "alert alert-danger");
                    prompt.innerHTML = (result.data.data);
                }
            },
            error: function (result) {
                //window.location.href("index.html");
            },
        })
    });

</script>

</html>