<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shop_register</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        <div>
            {% csrf_token %}
        </div>
        <div>
            <input type="text" name="name" placeholder="店铺名称">
        </div>
        <div>
            <input type="text" name="address" placeholder="店铺地址">
        </div>
        <div>
            <input type="text" name="description" placeholder="店铺描述">
        </div>
        <div>
            店铺logo
            <input type="file" name="avatar" placeholder="店铺logo">
        </div>
        <div>
            <input type="text" name="phoneNumber" placeholder="店铺电话">
        </div>
        <div>
            <select name="type" multiple="multiple">
                {% for t in type_list %}
                    <option value="{{ t.id }}">{{ t.shopType }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <input type="submit" value="注册">
        </div>
    </form>
</body>
</html>