<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sign_up</title>
</head>
<body>

<h1>please sign up</h1>
<div>
    <div>
        <div>
            <div>
                <strong>用户注册</strong>
            </div>
            {% if result.status == "error" %}
                <h5>{{ result.data }}</h5>
            {% endif %}
            <div>
                <form method="post">
                    {% csrf_token %}
                    <input type="text" name="username" value="{{ username }}" placeholder="请输入用户名">
                    <br>
                    <input type="text" name="nickname" value="{{ nickname }}" placeholder="请输入昵称">
                    <br>
                    <input type="password" name="password" placeholder="请输入密码">
                    <br>
                    <input type="password" name="password2" placeholder="请重复密码">
                    <br>
                    <input type="submit" name="" value="注册">
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>
<script>
      $("#username").blur(
          function () {
              var username = $("#username").val();
              var csrfmiddlewaretoken = '{{ csrf_token }}';
              var url = "/shop/ajax/";
              send_data = {
                  "username":username,
                  "csrfmiddlewaretoken":csrfmiddlewaretoken
              };
              $.ajax(
                  {
                      url: url,
                      type: "post",
                      data: send_data,
                      success: function (data) {
                          var status = data.status;
                          $("#sign").text(data.data);
                          if(status == "error"){
                              $("#submit").attr("disabled",true)
                          }else {
                              $("#submit").attr("disabled",false)
                          }
                          {#alert(data.data)#}
                          {#console.log(data)#}
                      },
                      error: function (error) {
                          console.log(error)
                      }
                  }
              )
          }
      )

</script>