<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>图像信息更改</title>

    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <form class="form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="input6" class="control-label" name="logo">
                            <h4>选择图片</h4>
                        </label>
                        <br>
                        <img style="width:100%;" src="/static/{{ show_image }}">
                        <br>
                        <input type="file" name="image" class="form-control" placeholder="选择图片">
                    </div>
                    <div style="margin-top:30px;"></div>
                    <button type="submit" class="btn btn-success" style="width: 100%;" >保存</button>
                </form>
            </div>
    </div>
    </div>
</body>

</html>