{% extends 'user/base.html' %}
{% block main %}
    <main>
        <h1>新增收货地址</h1>
        <form method="post">
            {% csrf_token %}
            <div class=inputTips>
                姓名
            </div>
            <input type="text" name="receiver" placeholder="收货人" autocomplete="off" class="inputText">

            <div class=inputTips>
                手机
            </div>
            <input type="tel" name="phone" placeholder="手机" autocomplete="off" class="inputText">

            <div class=inputTips>
                邮编
            </div>
            <input type="tel" name="post_num" placeholder="邮编" autocomplete="off" class="inputText">

            <div class=inputTips>
                详细地址
            </div>
            <input type="text" name="address" placeholder="详细地址" autocomplete="off" class="inputText">

            <input type="submit" name="saveAddr" value="保存" class="submitButton">
        </form>
    </main>
{% endblock main %}
