{% load static %}
{% load user_extras %}
<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title>网上购物系统</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="{% static 'user/css/all.css' %}" />
    <link rel="stylesheet" href="{% static 'user/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/sub_menu.css' %}">
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>

<style>
      body {
        /* background-color: wheat; */
        background-image: url("{% static 'user/images/background/bg1.jpg' %}");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    img {
        width: 100%;
    }

    .good-frame {
        background-color: white;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 20px;
    }

    .good-frame h4 {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .good-frame .title {
        padding-top: 13px;
        padding-bottom: 10px;

        font-size: large;
        font-weight: bold;
    }

    .good-frame .see-more {
        padding-top: 10px;
        padding-bottom: 13px;

        font-size: smaller;
    }
</style>

<body>
    <!-- 导航栏 -->
    {% show_nav_part %}

    <!--主体内容-->
    <main style="margin-top: 55px;">
        <div class="container">

            <!--二级菜单、图片轮播-->
            <div class="row">
                <div class="row">
                    <div class="col-md-3" style="margin-top: 45px;padding-left: 33px !important;">
                        <div class="toptitle">
                            <a href="{% url 'user:product_list' %}" style="padding-left:30px ;color:#fff;">全部商品分类</a>
                        </div>
                        <ul class="topmenu" id="topmenu">
                            <li><a href="#">服饰鞋帽</a></li>
                            <li><a href="#">图书音像</a></li>
                            <li><a href="#">文具办公</a></li>
                            <li><a href="#">手机数码</a></li>
                            <li><a href="#">日常用品</a></li>
                            <li><a href="#">零食小吃</a></li>
                            <li><a href="#">儿童玩具</a></li>
                            <li><a href="#">医药保健</a></li>

                        </ul>
                    </div>

                    <!-- 图片轮流播放 -->
                    <div class="col-md-6">
                        <div id="carousel-explorer" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-explorer" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-explorer" data-slide-to="1"></li>
                                <li data-target="#carousel-explorer" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="{% static 'user/images/index/1.jpg' %}" alt="...">
                                    <div class="carousel-caption">
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="{% static 'user/images/index/2.jpg' %}" alt="...">
                                    <div class="carousel-caption">
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="{% static 'user/images/index/3.jpg' %}" alt="...">
                                    <div class="carousel-caption">
                                    </div>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-explorer" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-explorer" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3" style="height: 423px; width: 22.5%; background-color: rgb(226, 214, 230); color: rgb(107, 144, 179);">
                        <h3>欢迎来到这里购物</h3>
                        <img src="{% static 'user/images/login/pngsucai_324660_8e29d5.png' %}" alt="">
                        <h4>您正在访问购物网站，在可以这里你可以购买你想要的商品。</h4>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-left: 0px; margin-right: 0px; ">
                <div class="col-md-12" style="background-color: white; margin-top: 20px;  margin-bottom: 20px; ">
                    <div class="col-md-12">
                        <h4 style="font-size: larger; font-weight: bold; text-align: center;">今日热销</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                {% for pro in best_sales %}
                    <div class="col-md-3 ">
                    <div class="good-frame">
                        <div class=" title">{{ pro.name }}</div>
                        <div>
                            <a href="/product/{{ pro.id }}"><img src="/static/{{ pro.image }}" alt=""></a>
                        </div>
                        <div class="see-more">
                            <a href="/product/{{ pro.id }}">查看更多</a>     销量：{{ pro.sales }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>



            <div class="row" style="margin-left: 0px; margin-right: 0px; ">
                <div class="col-md-12" style="background-color: white;  padding-bottom: 30px;">
                    <div class="col-md-12">
                        <h3>商品上新</h3>
                    </div>
                    {% for pro in product_list1 %}
                        <div class="col-md-2">
                        <a href="/product/{{ pro.id }}"><img src="/static/{{ pro.image }}" alt=""></a>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="row" style="margin-left: 0px; margin-right: 0px; margin-top: 20px;">
                <div class="col-md-12" style="background-color: white;  padding-bottom: 30px;">
                    <div class="col-md-12">
                        <h3>特价精品</h3>
                    </div>
                    {% for pro in product_list2 %}
                        <div class="col-md-2">
                        <a href="/product/{{ pro.id }}"><img src="/static/{{ pro.image }}" alt=""></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </main>
    <!-- 页脚 -->
    {% show_footer %}
</body>

<!-- 鼠标移到左边的topMenu，就会悬浮显示详细分类 -->
<script type="text/javascript">
    window.onload = function () {
        var Lis = document.getElementById("topmenu").getElementsByTagName("li");
        for (i = 0; i < Lis.length; i++) {
            Lis[i].onmouseover = function () {
                this.className = "lihover";
            }
            Lis[i].onmouseout = function () {
                this.className = "";
            }
        }
    }
</script>

<script type="text/javascript">
    $("#nav_part").load("nav_part.html");
    $("#footer_part").load("footer_part.html");
</script>

</html>