{% load static %}
{% load user_extras %}
<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>我的订单</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">


    <link type="text/css" rel="stylesheet" href="{% static 'user/css/all.css' %}" />
    <link rel="stylesheet" href="{% static 'user/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/order.css' %}">

    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="../js/test.js"></script>

    <style>
        table td {
            vertical-align: middle !important;
        }
    </style>
</head>

<body>

    <!-- 导航栏 -->
    {% show_nav_part %}

    <main style="margin-top: 50px;">
        <div class="container-fluid">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 title">
                    <div class="col-md-5 ">
                        <div class="k-border">
                            <div class="border bor-l">
                                <div class="border bor-r">
                                    <div class="bor-m"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 ">我的订单</div>
                    <div class="col-md-5 ">
                        <div class="k-border">
                            <div class="border bor-l">
                                <div class="border bor-r">
                                    <div class="bor-m"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#panel-all" data-toggle="tab">全部订单</a>
                        </li>
                        <li>
                            <a href="#panel-to-deliver" data-toggle="tab">待发货</a>
                        </li>
                        <li>
                            <a href="#panel-to-receive" data-toggle="tab">待收货</a>
                        </li>
                        <li>
                            <a href="#panel-to-comment" data-toggle="tab">待评价</a>
                        </li>
                        <li>
                            <a href="#panel-commented" data-toggle="tab">已评价</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="panel-all">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="3">商品信息</th>
                                        <th>单价</th>
                                        <th>数量</th>
                                        <th>实付款</th>
                                        <th>交易状态</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="8" style="border: 0"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="8" style="text-align: left;background-color: rgb(190, 224, 229)">
                                            订单编号：<span class="order-id">12222212212</span>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;下单时间：<span
                                                class="order-time">12222222222</span> </td>
                                    </tr>
                                    <tr data-id="111" data-status="to-comment">
                                        <td width="10%">
                                            <a href="product.html"><img src="../../images/index/4.jpg" alt=""></a>
                                        </td>
                                        <td width="10%">商品名称</td>
                                        <td width="30%">商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述</td>
                                        <td width="10%">￥<span>199</span></td>
                                        <td width="8%">1</td>
                                        <td width="10%">￥ <span>199</span> </td>
                                        <td width="10%" class="status">待评价</td>
                                        <td width="12%"><button type="button" class="btn btn-primary"
                                                data-toggle="modal" data-target="#exampleModal"
                                                onclick="commentOrder(this)">
                                                评价
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="panel-to-deliver">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="3">商品信息</th>
                                        <th>单价</th>
                                        <th>数量</th>
                                        <th>实付款</th>
                                        <th>交易状态</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td colspan="8" style="border: 0"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="8" style="text-align: left;background-color: rgb(190, 224, 229)">
                                            订单编号：12222212212&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;下单时间：12222222222</td>
                                    </tr>
                                    <tr data-id="111" data-status="to-deliver">
                                        <td width="10%">
                                            <img src="../../images/index/4.jpg" alt="">
                                        </td>
                                        <td width="10%">商品名称</td>
                                        <td width="30%">商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述</td>
                                        <td width="10%">￥<span>199</span></td>
                                        <td width="8%">1</td>
                                        <td width="10%">￥ <span>199</span> </td>
                                        <td width="10%">待发货</td>
                                        <td width="12%"><button type="button" class="btn btn-default" disabled="true"
                                                data-toggle="modal" data-target="#exampleModal">
                                                待发货
                                            </button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="panel-to-receive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="3">商品信息</th>
                                        <th>单价</th>
                                        <th>数量</th>
                                        <th>实付款</th>
                                        <th>交易状态</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="8" style="border: 0"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="8" style="text-align: left;background-color: rgb(190, 224, 229)">
                                            订单编号：12222212212&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;下单时间：12222222222</td>
                                    </tr>
                                    <tr data-id="222" data-status="to-receive">
                                        <td width="10%">
                                            <img src="../../images/index/4.jpg" alt="">
                                        </td>
                                        <td width="10%">商品名称</td>
                                        <td width="30%">商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述</td>
                                        <td width="10%">￥<span>199</span></td>
                                        <td width="8%">1</td>
                                        <td width="10%">￥ <span>199</span> </td>
                                        <td width="10%" class="status">待收货</td>
                                        <td width="12%"><button type="button" class="btn btn-warning"
                                                data-toggle="modal" data-target="#confirm-Modal"
                                                onclick="confirmReceipt(this)">
                                                确认收货
                                            </button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="panel-to-comment">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="3">商品信息</th>
                                        <th>单价</th>
                                        <th>数量</th>
                                        <th>实付款</th>
                                        <th>交易状态</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="8" style="border: 0"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="8" style="text-align: left;background-color: rgb(190, 224, 229)">
                                            订单编号：12222212212&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;下单时间：12222222222</td>
                                    </tr>
                                    <tr data-id="234" data-status="to-comment">
                                        <td width="10%">
                                            <img src="../../images/index/4.jpg" alt="">
                                        </td>
                                        <td width="10%">商品名称</td>
                                        <td width="30%">商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述</td>
                                        <td width="10%">￥<span>199</span></td>
                                        <td width="8%">1</td>
                                        <td width="10%">￥ <span>199</span> </td>
                                        <td width="10%" class="status">待评价</td>
                                        <td width="12%"><button type="button" class="btn btn-primary"
                                                data-toggle="modal" data-target="#exampleModal"
                                                onclick="commentOrder(this)">
                                                评价
                                            </button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="panel-commented">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="3">商品信息</th>
                                        <th>单价</th>
                                        <th>数量</th>
                                        <th>实付款</th>
                                        <th>交易状态</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="8" style="border: 0"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="8" style="text-align: left;background-color: rgb(190, 224, 229)">
                                            订单编号：12222212212&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;下单时间：12222222222</td>
                                    </tr>
                                    <tr data-id="1235" data-status="has-comment">
                                        <td width="10%">
                                            <img src="../../images/index/4.jpg" alt="">
                                        </td>
                                        <td width="10%">商品名称</td>
                                        <td width="30%">商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述</td>
                                        <td width="10%">￥<span>199</span></td>
                                        <td width="8%">1</td>
                                        <td width="10%">￥ <span>199</span> </td>
                                        <td width="10%" class="status">已评价</td>
                                        <td width="12%"><button type="button" class="btn btn-default" disabled="true"
                                                data-toggle="modal" data-target="#exampleModal">
                                                已评价
                                            </button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>


    <!-- Modal -->
    <!-- 弹出来的评价框 -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="exampleModalLabel">评价此订单</h5>
                </div>
                <div class="modal-body">
                    <textarea class="form-control" name="" id="comment-content" rows="8" placeholder="请输入评价内容"
                        style="resize: none;"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="comment-order" data-dismiss="modal"
                        onclick="modalCommentOrder()">评价</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 弹出来的确认收货 -->
    <div class="modal fade" id="confirm-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="exampleModalLabel">确认收货</h5>
                </div>
                <div class="modal-body">
                    <h4>是否确认收货？</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="confirm-receipt" data-dismiss="modal"
                        onclick="modalConfirmReceipt()">确认</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 页脚 -->
    {% show_footer %}

    <button onclick="loadOrders()">生成html</button>
</body>

<script type="text/javascript">
    var orders = {{ orders }};
    console.log(orders);



    //分页栏
    $(".pagination li").click(function () {
        var pageCount = $(".pagination li").length - 2;
        var activeIndex = $(".pagination .active").index();
        if ($(this).hasClass("prev-page")) {
            if (activeIndex > 1) {
                $(".pagination li").eq(activeIndex).removeClass("active");
                $(".pagination li").eq(activeIndex - 1).addClass("active");
            }
        } else if ($(this).hasClass("next-page")) {
            if (activeIndex < pageCount) {
                $(".pagination li").eq(activeIndex).removeClass("active");
                $(".pagination li").eq(activeIndex + 1).addClass("active");
            }
        } else {
            $(this).addClass("active");
            $(this).siblings().removeClass("active");
        }
    });


    //全局变量
    let theButton;
    let orderId;

    //确认收货
    function confirmReceipt(button) {
        theButton = $(button);
        orderId = theButton.parent().parent().attr("data-id");

        console.log(orderId);
    }

    //点击模态框里的确认收货
    function modalConfirmReceipt() {
        theButton.parent().siblings(".status").text("待评价");
        //theButton.attr("disabled","true");
        //设置按钮
        theButton.text("评价");
        theButton.attr("class", "btn btn-primary");
        //设置下一个动作为评价
        theButton.attr("onclick", "commentOrder(this)");
        theButton.attr("data-target", "#exampleModal");//拉起评价框

        //设置data-status
        theButton.parent().parent().attr("data-status", "to-comment");
        console.log(theButton.parent().parent().attr("data-status"));

        //发送数据
        $.ajax({
            type: "POST",
            url: "",
            data: {
                orderId: orderId
            },
            dataType: "json",
            success: function (data) {
                //window.open("finish_order.html", "_self");
            },
            error: function (data) {
            },
        });
    }

    //评价一个订单
    function commentOrder(button) {
        theButton = $(button);
        orderId = theButton.parent().parent().attr("data-id");

        console.log(orderId);
        //开始评价之前清空内容
        $("#comment-content").val("");
    }

    function modalCommentOrder() {
        theButton.parent().siblings(".status").text("已评价");
        theButton.attr("disabled", "true");
        //设置按钮
        theButton.text("已评价");
        theButton.attr("class", "btn btn-default");

        //设置data-status
        theButton.parent().parent().attr("data-status", "has-comment");
        console.log(theButton.parent().parent().attr("data-status"));

        //获取评价内容
        let commentContent = $("#comment-content").val();
        console.log(commentContent);

        //发送数据
        $.ajax({
            type: "POST",
            url: "",
            data: {
                orderId: orderId,
                commentContent: commentContent
            },
            dataType: "json",
            success: function (data) {
                //window.open("finish_order.html", "_self");
            },
            error: function (data) {
            },
        });
    }

    var orderList = [{
        id: 1234564876,
        buyTime: "2020-20-20",
        imageURL: "../../images/index/4.jpg",
        goodName: "商品名称",
        goodLink: "product.html",
        goodDescrip: "商品描述商品描述商品描述商品描述商品描述商品描述",
        unitPrice: 123,
        count: 1,
        payment: 123,
        status: "待发货",
    },
    {
        id: 1234564876,
        buyTime: "2020-20-20",
        imageURL: "../../images/index/4.jpg",
        goodName: "商品名称",
        goodLink: "product.html",
        goodDescrip: "商品描述商品描述商品描述商品描述商品描述商品描述",
        unitPrice: 123,
        count: 1,
        payment: 123,
        status: "待收货",
    },
    {
        id: 1234564876,
        buyTime: "2020-20-20",
        imageURL: "../../images/index/4.jpg",
        goodName: "商品名称",
        goodLink: "product.html",
        goodDescrip: "商品描述商品描述商品描述商品描述商品描述商品描述",
        unitPrice: 123,
        count: 1,
        payment: 123,
        status: "待评价",
    },
    {
        id: 1234564876,
        buyTime: "2020-20-20",
        imageURL: "../../images/index/4.jpg",
        goodName: "商品名称",
        goodLink: "product.html",
        goodDescrip: "商品描述商品描述商品描述商品描述商品描述商品描述",
        unitPrice: 123,
        count: 1,
        payment: 123,
        status: "已评价",
    },
    ];

    //生成html
    function loadOrders() {
        let tbody = $("#panel-all table tbody");
        tbody.html("");

        let toDeliverTbody = $("#panel-to-deliver table tbody");
        let toReceiveTbody = $("#panel-to-receive table tbody");
        let toCommentTbody = $("#panel-to-comment table tbody");
        let hasCommentTbody = $("#panel-commented table tbody");

        toDeliverTbody.html("");
        toReceiveTbody.html("");
        toCommentTbody.html("");
        hasCommentTbody.html("");



        $.each(orders, function (i, item) {
            //alert("wdnmd");
            //let item = goodsList[0];
            console.log(item.fields);
            let blankTr = document.createElement("tr");
            blankTr.innerHTML = "<td colspan=\"8\" style=\"border: 0\"></td>";
            tbody.append(blankTr);

            let orderHeadTr = document.createElement("tr");
            tbody.append(orderHeadTr);

            let orderHeadTd = document.createElement("td");
            orderHeadTd.setAttribute("colspan", "8");
            orderHeadTd.setAttribute("style", "text-align: left;background-color: rgb(190, 224, 229)");
            orderHeadTd.innerHTML = "订单编号：" + item.fields.order_id + "    " + "下单时间：" + item.fields.order_date;/* 这里可以再改一下 */
            orderHeadTr.append(orderHeadTd);
            var status = "";
            if (item.fields.order_status == 0) {
                status = "待发货";
            } else if (item.fields.order_status == 1) {
                status = "待收货";
            } else if (item.fields.order_status == 2) {
                status = "待评价";
            } else if (item.fields.order_status == 3) {
                status = "已评价";
            }

            let orderDetailTr = document.createElement("tr");
            orderDetailTr.setAttribute("data-id", status);
            orderDetailTr.setAttribute("data-status", 1);
            tbody.append(orderDetailTr);


            let imageTd = document.createElement("td");
            imageTd.setAttribute("width", "10%");
            orderDetailTr.append(imageTd);

            let imageLinkA = document.createElement("a");
            imageLinkA.href = '/shopinfo/' + item.fields.order_shop;
            imageTd.append(imageLinkA);

            let image = document.createElement("img");
            image.src = '/static/user/images/coupon.jpg';
            imageLinkA.append(image);

            let nameTd = document.createElement("td");
            nameTd.setAttribute("width", "10%");
            nameTd.innerHTML = '商品名';
            orderDetailTr.append(nameTd);

            let descripTd = document.createElement("td");
            descripTd.setAttribute("width", "30%");
            descripTd.innerHTML = "商品描述";
            orderDetailTr.append(descripTd);

            let unitPriceTd = document.createElement("td");
            unitPriceTd.setAttribute("width", "10%");
            unitPriceTd.innerHTML = "￥" + item.fields.order_price;
            orderDetailTr.append(unitPriceTd);

            let countTd = document.createElement("td");
            countTd.setAttribute("width", "8%");
            countTd.innerHTML = "1";
            orderDetailTr.append(countTd);

            let paymentTd = document.createElement("td");
            paymentTd.setAttribute("width", "10%");
            paymentTd.innerHTML = "￥" + item.fields.order_price;
            orderDetailTr.append(paymentTd);

            let statusTd = document.createElement("td");
            statusTd.setAttribute("width", "10%");
            statusTd.setAttribute("class", "status");
            statusTd.innerHTML = status;
            orderDetailTr.append(statusTd);

            let operaTd = document.createElement("td");
            operaTd.setAttribute("width", "12%");
            //operaTd.innerHTML = item.status;
            orderDetailTr.append(operaTd);

            let operaBtn = document.createElement("button");
            operaBtn.setAttribute("type", "button");
            operaBtn.setAttribute("data-toggle", "modal");

            if (item.fields.order_status == 0) {
                operaBtn.setAttribute("class", "btn btn-default");
                operaBtn.setAttribute("disabled", "true");
                operaBtn.innerHTML = "待发货";
            } else if (item.fields.order_status == 1) {
                operaBtn.setAttribute("class", "btn btn-warning");
                //operaBtn.setAttribute("disabled","true");
                operaBtn.setAttribute("data-target", "#confirm-Modal");
                operaBtn.setAttribute("onclick", "confirmReceipt(this)");
                operaBtn.innerHTML = "确认收货";
            } else if (item.fields.order_status == 2) {
                operaBtn.setAttribute("class", "btn btn-primary");
                //operaBtn.setAttribute("disabled", "true");
                operaBtn.setAttribute("data-target", "#exampleModal");
                operaBtn.setAttribute("onclick", "commentOrder(this)");
                operaBtn.innerHTML = "评价";
            } else if (item.fields.order_status == 3) {
                operaBtn.setAttribute("class", "btn btn-default");
                operaBtn.setAttribute("disabled", "true");
                operaBtn.innerHTML = "已评价";
            }
            operaTd.append(operaBtn);


            let newBlankTr = blankTr.cloneNode(true);
            let newOrderHeadTr = orderHeadTd.cloneNode(true);
            let newOrderDetailTr = orderDetailTr.cloneNode(true);

            if (item.fields.order_status == 0) {
                toDeliverTbody.append(newBlankTr);
                toDeliverTbody.append(newOrderHeadTr);
                toDeliverTbody.append(newOrderDetailTr);
            } else if (item.fields.order_status == 1) {
                toReceiveTbody.append(newBlankTr);
                toReceiveTbody.append(newOrderHeadTr);
                toReceiveTbody.append(newOrderDetailTr);
            } else if (item.fields.order_status == 2) {
                toCommentTbody.append(newBlankTr);
                toCommentTbody.append(newOrderHeadTr);
                toCommentTbody.append(newOrderDetailTr);
            } else if (item.fields.order_status == 3) {
                hasCommentTbody.append(newBlankTr);
                hasCommentTbody.append(newOrderHeadTr);
                hasCommentTbody.append(newOrderDetailTr);
            }
        });
    }

</script>

</html>