{% extends 'user/base.html' %}
{% load static %}
{% block title %}
    下单成功
{% endblock %}
{% block main %}
    <link rel="stylesheet" href="{% static 'user/css/finish_order.css' %}">
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
                <div class="tick">
                    <div class="tickimg"></div>
                    <p>购买成功</p>
                </div>
                <ul style="margin-top: 10px" class="list-group">
                    <li class="list-group-item">
                        {% for order_id in order_list %}
                             <p class="mark">
                                <span class="des-label">订单号：</span>
                                <span>{{ order_id }}</span>
                            </p>
                        {% endfor %}
                    </li>
                </ul>

                <button type="button" class="btn btn-success col-sm-offset-1 col-sm-4"
                    onclick="window.location.href='{% url 'user:index' %}'">继续购物</button>
            </div>
        </div>
    </div>
{% endblock %}

