{% load static %}
{% load user_extras %}

<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title>搜索结果</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'user/css/all.css' %}">

    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>

<style>
    img {
        width: 100%;
    }

    .good-frame {
        background-color: white;

        margin-bottom: 20px;
    }

    .good-frame h4 {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .good-frame .title {
        padding-top: 13px;
        padding-bottom: 10px;

        font-size: large;
        font-weight: bold;
    }

    .good-frame .good-name {
        padding-top: 13px;
        padding-bottom: 10px;

        font-size: large;
        font-weight: bold;
    }

    .good-frame .see-more {
        padding-top: 10px;
        padding-bottom: 13px;

        font-size: smaller;
    }

    .good-frame .unit-price {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .img-frame {
        position: relative;
        width: 100%;
        padding-top: 100%;
        /* 宽高比例为1：1 */
    }

    .img-frame img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
</style>

<body>
    <!-- 导航栏 -->
    {% show_nav_part %}

    <!--主体内容-->
    <main style="margin-top: 60px;">
        <div class="container-fluid">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    {% if current_product_type %}
                    <div style="font-size:large">
                        商品类别：<span style="color:skyblue; font-weight: bold;">{{ current_product_type.product_type }}</span>
                    </div>
                    {% else %}
                    <div style="font-size:large">
                        关于<span style="color:skyblue; font-weight: bold;">{{ keyword }}</span>的搜索结果：
                    </div>
                    {% endif %}


                    <hr>
                </div>
                <div class="col-md-2">
                    <form>
                        <div class="form-group">
                            <label for="sel1">排序方式</label>
                            <select class="form-control" id="select" onchange="sortGoods()">
                                <option value="asc">价格&uarr;</option>
                                <option value="desc">价格&darr;</option>
                                <option value="sales">销量</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row row-goods">
                <div class="col-md-3 good-frame">
                    <div class="img-frame">
                        <a href="goodsinfo.html"><img src="../images/index/4.jpg" alt=""></a>
                    </div>
                    <div class="good-name">
                        电子产品
                    </div>
                    <div class="unit-price">
                        ￥55.00
                    </div>
                    <div class="good-descrip">
                        商品描述商品描述商品描述商品描述商品描述商
                    </div>
                </div>
                <div class="col-md-3 good-frame">
                    <div class="img-frame">
                        <a href="goodsinfo.html"><img src="../images/index/4.jpg" alt=""></a>
                    </div>
                    <div class="good-name">
                        电子产品
                    </div>
                    <div class="unit-price">
                        ￥55.00
                    </div>
                    <div class="good-descrip">
                        商品描述商品描述商品描述商品描述商品描述商
                    </div>
                </div>
                <div class="col-md-3 good-frame">
                    <div class="img-frame">
                        <a href="goodsinfo.html"><img src="../images/index/4.jpg" alt=""></a>
                    </div>
                    <div class="good-name">
                        电子产品
                    </div>
                    <div class="unit-price">
                        ￥55.00
                    </div>
                    <div class="good-descrip">
                        商品描述商品描述商品描述商品描述商品描述商
                    </div>
                </div>
                <div class="col-md-3 good-frame">
                    <div class="img-frame">
                        <a href="goodsinfo.html"><img src="../images/index/4.jpg" alt=""></a>
                    </div>
                    <div class="good-name">
                        电子产品
                    </div>
                    <div class="unit-price">
                        ￥55.00
                    </div>
                    <div class="good-descrip">
                        商品描述商品描述商品描述商品描述商品描述商
                    </div>
                </div>
                <div class="col-md-3 good-frame">
                    <div class="img-frame">
                        <a href="goodsinfo.html"><img src="../images/index/4.jpg" alt=""></a>
                    </div>
                    <div class="good-name">
                        电子产品
                    </div>
                    <div class="unit-price">
                        ￥55.00
                    </div>
                    <div class="good-descrip">
                        商品描述商品描述商品描述商品描述商品描述商
                    </div>
                </div>
            </div>

            <div class="row" id="page-row">
                <div class="col-md-12" style="text-align: center;">
                    <ul class="pagination">
                        <li id="prev-page"><a onclick="prevPage()">&laquo;</a></li>
                        <li class="active"><a onclick="thisPage(this)">1</a></li>
                        <li><a onclick="thisPage(this)">2</a></li>
                        <li><a onclick="thisPage(this)">3</a></li>
                        <li><a onclick="thisPage(this)">4</a></li>
                        <li><a onclick="thisPage(this)">5</a></li>
                        <li id="next-page"><a onclick="nextPage()">&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </main>

    <!-- 页脚 -->
    {% show_footer %}

    <!-- <button onclick="setUp()">生成商品</button> -->
</body>

<script type="text/javascript">





    //加载导航栏和页脚
    var product_list = {{ product_list }};
    var keyword = {{ keyword }};
    console.log(product_list);
    console.log(keyword);

    //打开窗口时自动生成
    $(document).ready(function () {
        setUp();
        //要执行的js代码段
        if (product_list.length == 0) {
            let rowGoodDiv = $(".row-goods");
            rowGoodDiv.html("");
            $(".pagination").hide();
        }
    });

    //分页栏
    let nowPage = 1;
    let maxPage = 1;

    let numOnePage = 8;//一页商品的个数

    let splitGoodList = new Array();

    function prevPage() {
        if (nowPage > 1) {
            nowPage--;
            let nowActiveLi = $(".pagination").children(".active");
            nowActiveLi.removeClass("active");
            nowActiveLi.prev().addClass("active");
            loadGoods(splitGoodList[nowPage - 1]);
        }
    }

    function nextPage() {
        if (nowPage < maxPage) {
            nowPage++;
            let nowActiveLi = $(".pagination").children(".active");
            nowActiveLi.removeClass("active");
            nowActiveLi.next().addClass("active");
            loadGoods(splitGoodList[nowPage - 1]);
        }
    }
    function thisPage(a) {
        let theA = $(a);
        theA.parent().addClass("active");
        theA.parent().siblings().removeClass("active");
        nowPage = parseInt(theA.text());
        loadGoods(splitGoodList[nowPage - 1]);
    }

    var goodList = [
        {
            id: "1111",
            goodName: "商品名",
            goodLink: "product.html",
            imgURL: "../images/index/4.jpg",
            goodDescrip: "商品描述商品描述商品描述商品描述商品描述商品描述",
            unitPrice: 1
        },
        {
            id: "1111",
            goodName: "商品名",
            goodLink: "product.html",
            imgURL: "../images/index/4.jpg",
            goodDescrip: "商品描述商品描述商品描述商品描述商品描述商品描述",
            unitPrice: 8
        },
        {
            id: "1111",
            goodName: "商品名",
            goodLink: "product.html",
            imgURL: "../images/index/4.jpg",
            goodDescrip: "商品描述商品描述商品描述商品描述商品描述商品描述",
            unitPrice: 4
        },
        {
            id: "1111",
            goodName: "商品名",
            goodLink: "product.html",
            imgURL: "../images/index/4.jpg",
            goodDescrip: "商品描述商品描述商品描述商品描述商品描述商品描述",
            unitPrice: 5
        },
        {
            id: "1111",
            goodName: "商品名",
            goodLink: "product.html",
            imgURL: "../images/index/4.jpg",
            goodDescrip: "商品描述商品描述商品描述商品描述商品描述商品描述",
            unitPrice: 3
        },
        {
            id: "1111",
            goodName: "商品名",
            goodLink: "product.html",
            imgURL: "../images/index/4.jpg",
            goodDescrip: "商品描述商品描述商品描述商品描述商品描述商品描述",
            unitPrice: 15
        },
        {
            id: "1111",
            goodName: "商品名",
            goodLink: "product.html",
            imgURL: "../images/index/4.jpg",
            goodDescrip: "商品描述商品描述商品描述商品描述商品描述商品描述",
            unitPrice: 20
        },
    ];



    function getSplitGoodList(product_list) {
        splitGoodList = new Array();
        let len = product_list.length;
        let remainder = len % numOnePage;
        let leftCount = len;//还没有被分组的商品个数

        let pageCount = 0;//当前计算到的页面个数

        for (let i = 0; i < len; i += numOnePage) {
            if (leftCount >= numOnePage) {//如果还剩8个以上
                splitGoodList.push(product_list.slice(i, i + numOnePage));
                leftCount -= numOnePage;
            } else {//如果剩下的不足8个
                splitGoodList.push(product_list.slice(i, i + leftCount));
                leftCount -= leftCount;
            }
            pageCount++;
        }

        maxPage = pageCount;
    }

    //升序比较函数
    var asc = function (x, y) {
        return x.fields.price - y.fields.price;
    }
    //降序比较函数
    var desc = function (x, y) {
        return y.fields.price - x.fields.price;
    }
    //销量降序比较函数
    var saleDesc = function (x, y) {
        return y.fields.sales - x.fields.sales;
    }

    //下拉菜单,发生变化时排序
    function sortGoods() {
        var sel = document.getElementById("select");
        var sortMethod = sel.options[sel.selectedIndex].value;

        //console.log(sortMethod);

        if (sortMethod == "asc") {
            product_list.sort(asc);
            //console.log("asccc");
        } else if (sortMethod == "desc") {
            product_list.sort(desc);
        }
        else if (sortMethod == "sales") {
            product_list.sort(saleDesc);
        }
        console.log(product_list);
        getSplitGoodList(product_list);
        loadGoods(splitGoodList[0]);

        let firstPageLi = $(".pagination").children().eq(1);
        thisPage(firstPageLi.children());
    }

    //load商品
    function loadGoods(product_list) {
        let rowGoodDiv = $(".row-goods");
        rowGoodDiv.html("");

        $.each(product_list, function (i, item) {
            let frameDiv = document.createElement("div");
            frameDiv.setAttribute("class", "col-md-3 good-frame");
            rowGoodDiv.append(frameDiv);

            let frame1Div = document.createElement("div");
            frame1Div.setAttribute("class", "img-frame");
            frameDiv.append(frame1Div);

            let goodLinkA = document.createElement("a");
            goodLinkA.setAttribute("href", "/product/" + item.pk);
            frame1Div.append(goodLinkA);

            let image = document.createElement("img");
            image.setAttribute("src", '/static/' + item.fields.image);
            goodLinkA.append(image);

            let goodNameDiv = document.createElement("div");
            goodNameDiv.setAttribute("class", "good-name");
            goodNameDiv.innerHTML = item.fields.name;
            frameDiv.append(goodNameDiv);

            let unitPriceDiv = document.createElement("div");
            unitPriceDiv.setAttribute("class", "unit-price");
            unitPriceDiv.innerHTML = "￥" + item.fields.price;
            frameDiv.append(unitPriceDiv);

            let goodDescripDiv = document.createElement("div");
            goodDescripDiv.setAttribute("class", "good-descrip");
            goodDescripDiv.setAttribute("style", "height:5em;");
            goodDescripDiv.innerHTML = item.fields.description;
            frameDiv.append(goodDescripDiv);
        });
    }

    //初始化函数，会生成所有商品并得到最大页数
    function setUp() {
        //生成页数
        let paginationUl = $(".pagination");
        paginationUl.html("");

        if (product_list.length == 0) {
            return;
        }
        getSplitGoodList(product_list);
        loadGoods(splitGoodList[0]);



        //加上上一页
        let prevLi = document.createElement("li");
        prevLi.setAttribute("id", "prev-page");
        prevLi.innerHTML = "<a onclick=\"prevPage()\">&laquo;</a>";
        paginationUl.append(prevLi);

        //加上中间的页数
        for (let i = 1; i <= maxPage; i++) {
            let thePageLi = document.createElement("li");
            if (i == 1) {
                thePageLi.setAttribute("class", "active");
            }
            paginationUl.append(thePageLi);

            let theA = document.createElement("a");
            theA.setAttribute("onclick", "thisPage(this)");
            theA.innerHTML = i;
            thePageLi.append(theA);
        }

        //下一页
        let nextLi = document.createElement("li");
        nextLi.setAttribute("id", "next-page");
        nextLi.innerHTML = "<a onclick=\"nextPage()\">&raquo;</a>";
        paginationUl.append(nextLi);
    }



</script>

</html>