{% extends 'user/base.html' %}
{% load static %}
{% block title %}
    {{ product.name }}
{% endblock %}

{% block main %}
    <link rel="stylesheet" href="{% static 'user/css/product.css' %}">
    <div class="productBox">
        <table class="productTable" border="0" cellpadding="0" cellspacing="10">
            <tr>
                <td>
                    <img style="width: 400px;height: 500px;" src="/static/{{ product.image }}" alt="">
                </td>
                <td>
                    <h1 class="descrip">{{ product.name }}</h1>
                    <div class="amount">价格</div>
                    <div class="amountValue">{{ product.price }} CNY</div>
                    <br>

                    <div class="colour">描述</div>
                    <div class="colourValue">{{ product.description }}</div>
                    <br>
                    <div class="count">数量</div>
                    <div class="countValue">
                        <button name="button" type="button" class="minusButton">-</button>
                        <input type="tel" name="count" min="1" value="1" class="countInput">
                        <button name="button" type="button" class="plusButton">+</button>
                    </div>


                    <div class="buttonDiv">
                        {% if favorited %}
                            <form method="post" action='{% url 'user:cancel_favorite' product.id %}'>
                                {% csrf_token %}
                                <button type="submit">取消收藏</button>
                            </form>
                        {% else %}
                            <form method="post" action='{% url 'user:add_to_favorite' product.id %}'>
                                {% csrf_token %}
                                <button type="submit">添加到收藏夹</button>
                            </form>
                        {% endif %}

                        <form method="post" action='{% url 'user:add_to_cart' product.id %}'>
                            {% csrf_token %}
                            <button type="submit">添加到购物车</button>
                        </form>
                    </div>
                </td>
            </tr>

        </table>
    </div>

    <div class="commentTip">所有评价：</div>
        <div class="commentBox">
            <div class="allComments">
                {% for comment in comment_list %}
                    <div class="oneComent">
                        <div class="commenter">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                            </svg>
                            {{ comment.nickname }}
                        </div>
                        <div class="commentContent">{{ comment.content }}</div>
                        <div class="commentTime">{{ comment.create_time }}</div>
                    </div>
                {% endfor %}


            </div>
        </div>
    <h3>发表评论</h3>
    <form action="{% url 'user:comment' product.id %}" method="post">
        {% csrf_token %}
        <input type="text" class="form-control" name="score" placeholder="评分">
        <input type="text" class="form-control" name="content" placeholder="评论">
        <button type="submit" class="btn btn-default" >发表</button>
    </form>

{% endblock %}



