{% load static %}
{% load user_extras %}

<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>个人信息</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <link rel="stylesheet" href="{% static 'user/css/all.css' %}" />
    <link rel="stylesheet" href="{% static 'user/css/cart.css' %}" />

    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <style>
        body {
            /* background-color: wheat; */
            background-image: url("{% static 'user/images/background/bg2.jpg' %}");
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: 0 -30px;

        }

        main>.container {
            border-radius: 1%;
            border: #fff 1px solid;
            background-color: whitesmoke;
        }

        img {
            width: 100%;
        }

        /* #avatar-img {
            border: greenyellow 1px solid;
        }
 */
        ul {
            border: 0;
        }

        .nav-pills a {
            border-bottom: 1px solid #ddd;

        }

        .panel-default>.panel-heading {
            background-color: lightblue;
        }

        .panel-default {
            border-color: #fff;
        }

        .panel-group .panel-heading+.panel-collapse>.panel-body {
            border-top: 1px solid #fff;
        }

        .save {
            padding: 6px 30px;
        }

        .nav-list .active {
            color: blue;
        }
    </style>
</head>

<body>
    <!-- 导航栏 -->
    {% show_nav_part %}
    <!--主体内容-->
    <main style="margin-top: 55px;">
        <div class="container-fluid">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="{% url 'user:user_info' %}">我的信息</a></li>
                        <li><a href="{% url 'user:user_address' %}">我的地址</a></li>
                        <li><a href="{% url 'user:order_list'%}">我的订单</a></li>
                        <li><a href="{% url 'user:user_coupon' %}">我的优惠券</a></li>
                    </ul>
                </div>

                <div class="col-md-9">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        基本信息
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                                aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <div class="col-md-offset-1 col-md-7">
                                        <div class="row">
                                            <div class="col-md-offset-2 col-md-3">
                                                <div
                                                    style="border: 1px solid lightblue;width: 100px;height:100px;margin: 5px auto;border-radius: 50%;">
                                                    <form enctype="multipart/form-data">
                                                        <div>
                                                            <img src="/static/{{ user.avatar }}" alt="选择并上传头像"
                                                                id="avatar-img"
                                                                style="width: 98px;height: 98px;border-radius: 50%;" />
                                                        </div>
                                                        <br>
                                                        <button type="button" class="btn btn-default"
                                                            style="width: 100%;"
                                                            onclick="window.location.href='/user_avatar_update/'">
                                                            修改头像
                                                        </button>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                        <form class="form-horizontal" style="margin-top: 40px">
                                            <br>
                                            <div class="form-group">
                                                <div class="col-sm-3" style="font-weight: bold; text-align: right;">
                                                    用户名:
                                                </div>
                                                <div class="col-sm-9" id="username">
                                                    {{ user.username }}
                                                </div>
                                            </div>
                                            <div class="form-group">

                                                <div class="col-sm-3" style="font-weight: bold; text-align: right;">
                                                    昵&emsp;称:
                                                </div>
                                                <div class="col-sm-9" id="nickname">
                                                    {{ user.nickname }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-3" style="font-weight: bold; text-align: right;">
                                                    手&emsp;机:
                                                </div>
                                                <div class="col-sm-9" id="tel">
                                                    {{ user.phone }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-3" style="font-weight: bold; text-align: right;">
                                                    邮&emsp;箱:
                                                </div>
                                                <div class="col-sm-9" id="mail">
                                                    {{ user.email }}
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                        href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        编辑资料
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <div class="col-md-offset-1 col-md-8">
                                        <form class="form-horizontal" style="margin-top: 40px">

                                            <div class="form-group">
                                                <label for="input6" class="col-sm-2 control-label">昵&emsp;称</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="nickname-input"
                                                        placeholder="昵称">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="input7" class="col-sm-2 control-label">手&emsp;机</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="tel-input"
                                                        placeholder="手机号码">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="input8" class="col-sm-2 control-label">邮&emsp;箱</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="mail-input"
                                                        placeholder="邮箱">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-10 col-md-offset-2">
                                                    <button type="button" class="btn btn-success save"
                                                        style="width: 100%;" onclick="saveInfo()">保存</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingShree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                        href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        修改密码
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <div class="col-md-offset-1 col-md-8">
                                        <form class="form-horizontal" style="margin-top: 40px">
                                            <div class="form-group">
                                                <label for="input6" class="col-sm-2 control-label">原密码</label>
                                                <div class="col-sm-10">
                                                    <input type="password" class="form-control" id="cpassward-input"
                                                        placeholder="current_password">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="input6" class="col-sm-2 control-label">密&emsp;码</label>
                                                <div class="col-sm-10">
                                                    <input type="password" class="form-control" id="passward-input"
                                                        placeholder="password">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="input7" class="col-sm-2 control-label">确&emsp;认</label>
                                                <div class="col-sm-10">
                                                    <input type="password" class="form-control" id="passward1-input"
                                                        placeholder="passward confirmation">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-10 col-md-offset-2">
                                                    <button type="button" class="btn btn-success save"
                                                        style="width: 100%;" onclick="changePassward()">保存</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- 页脚 -->
    {% show_footer %}

    <!-- <button onclick="loadInfo()">生成html</button> -->
</body>

<script type="text/javascript">
    setOriginInfo();


    // 头像预览并发送数据
    $("#avatar_file").change(function () {
        // 获取上传文件对象
        var file = $(this)[0].files[0];
        // 读取文件URL
        var reader = new FileReader();
        reader.readAsDataURL(file);
        // 阅读文件完成后触发的事件

        let imgSrc;
        reader.onload = function () {
            // 读取的URL结果：this.result
            $("#avatar-img").attr("src", this.result);
            imgSrc = this.result;
        }

        console.log(imgSrc);

        $.ajax({
            type: "POST",
            url: "/user_avatar_update/",
            data: {
                avatar: imgSrc
            },
            dataType: "json",
            success: function (data) {
                if (data.status == 'success') {
                    console.log("success");
                    //window.open("/user_info/", "_self");
                } else {
                    console.log("error");
                }
            },
            error: function (data) {
                console.log("error")
            },
        });
    });

    function setOriginInfo() {
        $("#nickname-input").val($("#nickname").text().trim());
        $("#tel-input").val($("#tel").text().trim());
        $("#mail-input").val($("#mail").text().trim());
    }


    var myInfo = {
        id: 1234564876,
        avatarUrl: "../images/cart/749e8fce6291f8c8.jpg",
        username: "username",
        nickname: "product.html",
        telephone: "咖啡",
        mail: "马来西亚进口咖啡咖啡咖啡咖啡咖啡咖啡咖啡咖啡",
    };

    function loadInfo() {
        $("#avatar-img").attr("src", myInfo.avatarUrl);
        $("#username").text(myInfo.username);
        $("#nickname").text(myInfo.nickname);
        $("#tel").text(myInfo.telephone);
        $("#mail").text(myInfo.mail);
        setOriginInfo();//设置修改时的默认信息
    }


    function saveInfo() {
        $.ajax({
            type: "POST",
            url: "/user_info_update/",
            data: {
                nickname: $("#nickname-input").val().trim(),
                phone: $("#tel-input").val().trim(),
                email: $("#mail-input").val().trim()
            },
            dataType: "json",
            success: function (data) {
                if (data.status == 'success') {
                    console.log("success");
                    window.open("/user_info/", "_self");
                } else {
                    console.log("error");
                }
            },
            error: function (data) {
                console.log("error")
            },
        });

        //设置显示页面的信息
        $("#nickname").text($("#nickname-input").val().trim());
        $("#tel").text($("#tel-input").val().trim());
        $("#mail").text($("#mail-input").val().trim());
        //设置表单中信息
    }

    function changePassward() {

        console.log($("#passward-input").val().trim());
        console.log($("#passward1-input").val().trim());

        window.ol

        $.ajax({
            type: "POST",
            url: "/user_password_update/",
            data: {
                current_password: $("#cpassward-input").val().trim(),
                new_password: $("#passward-input").val().trim(),
                new_password_confirm: $("#passward1-input").val().trim(),
            },
            dataType: "json",
            success: function (data) {
                if (data.status == 'success') {
                    console.log("success");
                    window.open("/user_info/", "_self");
                } else {
                    console.log(data.data);
                }
            },
            error: function (data) {
                console.log("error")
            },
        });
    }
</script>

</html>